<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fst_cloud_new">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FSTCloudNew">
        <activity android:name=".Vendor_Resturant.Vendor_Restaurant_Show_Data"></activity>
        <activity android:name=".Start_Pages.Logo" >

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>


        <activity android:name=".Vendor_Dish.Vendor_Dish_Show_Data" />
        <activity android:name=".SEARCH.Searching_Vendor" />
        <activity android:name=".SEARCH.Searching_User" />
        <activity android:name=".FOOD.FoodMainPageFST" />
        <activity android:name=".SIGN_IN.FST_Vendor_Signin"/>
        <activity android:name=".SIGN_IN.FSTSignIn" />
        <activity android:name=".SIGN_UP.FST_Vendor_Signup" />
        <activity android:name=".SIGN_UP.FSTSignUp" />
        <activity android:name=".ADMIN.AdminPanel"></activity>
        <activity android:name=".HOMEPAGE.HOMEPAGE"></activity>
        <activity android:name=".FOOD.FoodDetailsFST"></activity>
        <activity android:name=".Start_Pages.OTP"></activity>
        <activity android:name=".Start_Pages.FSTForgetpassword"></activity>
        <activity android:name=".Start_Pages.FSTForgetpage2"></activity>
        <activity android:name=".TRAVEL.TravelMainPageFST"></activity>
        <activity android:name=".Start_Pages.FSTRegisterPage"></activity>
        <activity android:name=".VENDOR.Vendor_Main_Page" />
        <activity android:name=".SHOP.ShopMainPageFST" />
        <activity android:name=".Vendor_Resturant.Vendor_Resturant_Add_Data" />
        <activity android:name=".Vendor_Dish.Vendor_Dish_Add_Data" />


    </application>

</manifest>